<!DOCTYPE html>
<html>
<head>
	<title>测试</title>
	<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.js"></script>
</head>
<body>
	<div id="app"></div>
</body>
<script type="text/javascript">
	// var data = {
    //     "msgtype": "text",
    //     "text": {
    //         "content": "机器人测试",
    //     }
    // }
	// $.ajax({
	// 	url: '/postWxMessage',
	// 	type: 'post',
	// 	dataType: 'json',
	// 	data: data
	// })
	// .done(function(data) {
	// 	$('#app').text(data.message)
	// 	console.log("success");
	// })
</script>
</html>